{% extends 'base.html.twig' %}

{% block title %}
    {{ titulo }} {# Título de la página #}
{% endblock %}

 {% block stylesheets %}
    {# Vincular hoja de estilos #}
    <link rel="stylesheet" href="/styles/app.css">
{% endblock %}

{% block body %}

{% if error is not null %}
    {{ component('Alert', { 'message': error, 'type': 'danger' }) }}
{% else %}
    {{ component('Alert', { 'type': 'success', 'message': '¡La operación se realizó con éxito!' }) }}
    <div class="imagen">
    <img src="{{ pelicula.foto }}" width="100" height="100"> {# Cartel de la película #}
</div>
<div class="container">
    <h1>{{ pelicula.titulo }}</h1> {# Título de la película #}
    <p><strong>Dirección:</strong> {{ pelicula.director }}</p> {# Directora de la película #}
    <p>{{ pelicula.resumen }}</p> {# Resumen de la película #}
</div>
{% endif %}

{# Enlace para volver a la página principal #}
    <a href="{{ ('/') }}" class="button">Volver página principal</a> 

{% endblock %}
